
pandas
numpy
pyarrow
tableauhyperapi
sqlalchemy
requests
lxml
beautifulsoup4
python-dotenv
scikit-learn
joblib
matplotlib
seaborn
psycopg2-binary
pymysql
mysqlclient
tqdm
yfinance
schedule
pickle
